//colors

//base palette
$white: #fff;
$gray5: #eee;
$gray30: #c2c2c2;
$gray50: #858585;
$gray80: #292929;
$gray90: #1f1f1f;
$black: #191919;
$green: #909f45;

//statuses
$success: #98bf44;
$warning: #ddc261;
$error: #f3594f;

//gradients
$gradient_opacity_0: rgba(15, 15, 14, 0);
$gradient_opacity_1: rgba(15, 15, 14, 1);

//font sizes
@mixin font($size, $height, $weight, $case: none) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  text-transform: $case;
}
//headings
%h1 {
  @include font(48px, 120%, 600, uppercase);
}
%h2 {
  @include font(36px, 120%, 600, uppercase);
}
%h3 {
  @include font(32px, 120%, 600);
}
%h4 {
  @include font(24px, 120%, 600);
}
%h5 {
  @include font(20px, 120%, 600);
}
%h6 {
  @include font(18px, 120%, 600);
}

//subtitles

%s1 {
  @include font(24px, 120%, 500);
}
%s2 {
  @include font(20px, 120%, 500);
}
%s3 {
  @include font(18px, 120%, 500);
}
%s4 {
  @include font(16px, 120%, 500);
}
%s5 {
  @include font(12px, 120%, 500);
}

//paragraphs
%p1 {
  @include font(24px, 120%, 400);
}
%p2 {
  @include font(18px, 135%, 400);
}
%p3 {
  @include font(16px, 145%, 400);
}
%p4 {
  @include font(14px, 145%, 400);
}
%p5 {
  @include font(12px, 120%, 400);
}

//buttons
%button_l {
  @include font(18px, 120%, 500);
}
%button_m {
  @include font(16px, 120%, 500);
}
%button_s {
  @include font(14px, 120%, 500);
}
//other
%num {
  @include font(42px, 120%, 600);
}
%banner_link {
  @include font(18px, 135%, 500);
}
